/* ia-writer-quattro-latin-400-normal */
@font-face {
    font-family: 'iA Writer Quattro';
    font-style: normal;
    font-display: swap;
    font-weight: Regular;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/ia-writer-quattro@latest/latin-400-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/ia-writer-quattro@latest/latin-400-normal.woff) format('woff');
}